/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.umlClass {		
	-fx-border-color: black;		
	-fx-border-width: 3px;
	-fx-background-color: WHITE;
	-fx-spacing: 5px;
	-fx-padding: 5px;		
}

.umlClassName {
	-fx-font-size: 15px;
    -fx-font-weight: bold;        
}

.test {
	 -fx-opacity: 0;
}

.test:hover {
	-fx-opacity: 1;
}