/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
 
.umlEntity {		
	-fx-border-color: black;		
	-fx-border-width: 3px;
	-fx-background-color: WHITE;
	-fx-spacing: 5px;
	-fx-padding: 5px;		
}

.umlEntityName {
	-fx-font-size: 15px;
    -fx-font-weight: bold;        
}

.italic {
	-fx-font-style: italic;
}

.connectionLine:hover {
	-fx-stroke-width: 5px;
	-fx-stroke: BLUE;
}

.connectionBox {
	 -fx-opacity: 0;
}

.connectionBox:hover {
	-fx-opacity: 1;
}

.h-box {        
    -fx-spacing: 10px;
    -fx-padding: 0 0 3 0px;
}